[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jyoti-rl
[access "refs/for/refs/*"]
	read = group user/jyoti-rl
	push = group user/jyoti-rl
	label-Code-Review = -2..+2 group user/jyoti-rl
	label-Verified = -1..+1 group user/jyoti-rl
	rebase = group user/jyoti-rl
	removeReviewer = group user/jyoti-rl
	submit = group user/jyoti-rl
[access "refs/heads/*"]
	read = group user/jyoti-rl
	create = group user/jyoti-rl
	push = +force group user/jyoti-rl
	pushMerge = group user/jyoti-rl
[access "refs/tags/*"]
	push = +force group user/jyoti-rl
	pushTag = group user/jyoti-rl
	pushSignedTag = group user/jyoti-rl
